<%- include ("./partials/_header") %>

    <title>Compra · Dosabores</title>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="/css/checkout-form-validation.css" rel="stylesheet">
  </head>
  <body class="bg-light">
    <%- include ("./partials/_navbar") %>
    <div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="/media/logoCircle.png" alt="" width="100" height="100">
    <h2>Compra · Dosabores</h2>
    <p class="lead">Por favor agrega tus datos para completar la compra.</p>
  </div>

  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Tu carrito de compras</span>
        <span class="badge badge-secondary badge-pill"><%= products.length %></span>
      </h4>
      <ul class="list-group mb-3">
        <% for (var i = 0; i < products.length; i++) { %>

        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0"><%= products[i].name + " - " + products[i].size %></h6>
            <small class="text-muted">Cantidad: <%= products[i].quantity %></small>
          </div>
          <span class="text-muted">$<%= products[i].price %></span>
        </li>
        <% } %>


        <li class="list-group-item d-flex justify-content-between">
          <span>Total (MXN)</span>
          <strong>$<%= total %></strong>
        </li>
      </ul>
    </div>
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Dirección de envío</h4>
      <form class="needs-validation" action="/checkout" method="POST" novalidate>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">Nombre</label>
<<<<<<< HEAD
            <input type="text" class="form-control" id="firstName" placeholder="Juan" value="" required autofocus>
=======
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Nombre" value="" required autofocus>
>>>>>>> 0e54d5eaa42d1da359ac87d991407bce276bebea
            <div class="invalid-feedback">
              Se requiere un nombre válido.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Apellido</label>
<<<<<<< HEAD
            <input type="text" class="form-control" id="lastName" placeholder="Garza" value="" required>
=======
            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Apellido" value="" required>
>>>>>>> 0e54d5eaa42d1da359ac87d991407bce276bebea
            <div class="invalid-feedback">
              Se requiere un apellido válido.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="tu@ejemplo.com" value="<%= userId %>" required>
          <div class="invalid-feedback">
            Por favor ingresa un correo válido.
          </div>
        </div>

        <div class="mb-3">
          <label for="address">Calle y número de casa</label>
<<<<<<< HEAD
          <input type="text" class="form-control" id="address" placeholder="Calle del Sabor 143" required>
=======
          <input type="text" class="form-control" id="address" name="address" placeholder="1234 Main St" required>
>>>>>>> 0e54d5eaa42d1da359ac87d991407bce276bebea
          <div class="invalid-feedback">
            Por favor agrega una dirección válida.
          </div>
        </div>

        <div class="mb-3">
          <label for="address2">Apartamento, local, etc. <span class="text-muted">(Opcional)</span></label>
          <input type="text" class="form-control" id="address2" name="address2" placeholder="Apartamento o Suite">
        </div>

        <div class="row">
          <div class="col-md-4 mb-3">
            <label for="state">Estado</label>
            <select class="custom-select d-block w-100" id="state" name="state" required>
              <option value="">Elegir...</option>
              <option>Nuevo León</option>
            </select>
            <div class="invalid-feedback">
              Seleccione un estado válido.
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="city">Ciudad</label>
            <select class="custom-select d-block w-100" id="city" name="city" required>
              <option value="">Elegir...</option>
              <option>Monterrey</option>
              <option>San Nicolás de los Garza</option>
            </select>
            <div class="invalid-feedback">
              Seleccione una ciudad válida.
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="zip">Código Postal</label>
            <input type="text" class="form-control" id="zip" name="zip" placeholder="Código Postal" required>
            <div class="invalid-feedback">
              Se requiere un código postal válido.
            </div>
          </div>
        </div>
        <hr class="mb-4">

        <h4 class="mb-3">Forma de Pago</h4>

        <div class="d-block my-3">
          <div class="custom-control custom-radio">
            <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
            <label class="custom-control-label" for="credit">Tarjeta de credito</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
            <label class="custom-control-label" for="debit">Tarjeta de débito</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="cc-name">Nombre en tarjeta</label>
            <input type="text" class="form-control" id="cc-name" name="cc-name" placeholder="" required>
            <small class="text-muted">Nombre completo como se muestra en la tarjeta</small>
            <div class="invalid-feedback">
              Se requiere el nombre de la tarjeta.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="cc-number">Número de tarjeta de crédito </label>
            <input type="text" class="form-control" id="cc-number" name="cc-number" placeholder="" required>
            <div class="invalid-feedback">
              Se requiere el número de la tarjeta.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="cc-expiration">Fecha de Vencimiento (MM/AA)</label>
            <input type="text" class="form-control" id="cc-expiration" name="cc-expiration" placeholder="(MM/AA)" required>
            <div class="invalid-feedback">
              Fecha de vencimiento requerida.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="cc-cvv">CVV</label>
            <input type="text" class="form-control" id="cc-cvv" name="cc-cvv" placeholder="" required>
            <div class="invalid-feedback">
              Código de seguridad requerido.
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit"><a class="text-muted" href="/thankyou"></a>Realizar Pago</a></button>
      </form>
    </div>
  </div>
  
<script src="/js/checkout-form-validation.js"></script>

<%- include ("./partials/_footer") %>
