<%- include ("./partials/_header") %>

    <title>Productos · Dosabores</title>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="/css/album.css" rel="stylesheet">
  </head>
  <body>
    <%- include ("./partials/_navbar") %>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Nuestros productos</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <% for (var i = 0; i < products.length; i++) { %>
        <div class="col-md-4" id="<%= products[i].name %>">
          <div class="card mb-4 shadow-sm">
            <img src="/media/<%= products[i].img %>" class="card-img-top" alt="<%= products[i].name %>">
            <div class="card-body">
              <p class="card-text"><strong><%= products[i].name %></strong></p>
              <% for (var j = 0; j < products[i].prices.length; j++) { %>
              <p class="card-text"><%= products[i].prices[j].size %> 
                <span class="btn-group" style="float:right;">
                  $<%= products[i].prices[j].price %>
                  <button type="button" class="btn btn-sm btn-outline-secondary" style="margin-left: 1em;">-</button>
                  <span style="background-color: whitesmoke; padding-inline: 0.5em;">0</span>
                  <button type="button" class="btn btn-sm btn-outline-secondary">+</button>
                </span>
              </p>
              <% } %>
            </div>
          </div>
        </div>
        <% } %>

      </div>
    </div>
  </div>

</main>

<%- include ("./partials/_footer") %>
