<%- include ("./partials/_header") %>

    <title>Perfil · Dosabores</title>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="/css/checkout-form-validation.css" rel="stylesheet">
  </head>
  <body class="bg-light">
    <%- include ("./partials/_navbar") %>
    <div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="/media/logoCircle.png" alt="" width="100" height="100">
    <h2>Tu Perfil · Dosabores</h2>
    <p class="lead">Tus datos utilizados para completar la compra.</p>
  </div>

    <div class="col">
      <h4 class="mb-3">Tu información</h4>
      <form class="needs-validation" action="/updateProfile" method="POST" novalidate>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">Nombre</label>
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Juan" value="<%= user.firstName %>" autofocus>
            <div class="invalid-feedback">
              Se requiere un nombre válido.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Apellido</label>
            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Garza" value="<%= user.lastName %>">
            <div class="invalid-feedback">
              Se requiere un apellido válido.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="tu@ejemplo.com" value="<%= user.email %>" readonly>
          <div class="invalid-feedback">
            Por favor ingresa un correo válido.
          </div>
        </div>

        <div class="mb-3">
          <label for="address">Calle y número de casa</label>
          <input type="text" class="form-control" id="address" name="address" placeholder="Calle del Sabor 143" value="<%= user.address %>">
          <div class="invalid-feedback">
            Por favor agrega una dirección válida.
          </div>
        </div>

        <div class="mb-3">
          <label for="address2">Apartamento, local, etc. <span class="text-muted">(Opcional)</span></label>
          <input type="text" class="form-control" id="address2" name="address2" placeholder="Apartamento o Suite" value="<%= user.address2 %>">
        </div>

        <div class="row">
          <div class="col-md-4 mb-3">
            <label for="state">Estado</label>
            <select class="custom-select d-block w-100" id="state" name="state">
              <option value="">Elegir...</option>
              <option <%= user.state == 'Nuevo León' ? 'selected' : '' %> >Nuevo León</option>
            </select>
            <div class="invalid-feedback">
              Seleccione un estado válido.
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="city">Ciudad</label>
            <select class="custom-select d-block w-100" id="city" name="city">
              <option value="">Elegir...</option>
              <option <%= user.city == 'Monterrey' ? 'selected' : '' %> >Monterrey</option>
              <option <%= user.city == 'San Nicolás de los Garza' ? 'selected' : '' %> >San Nicolás de los Garza</option>
            </select>
            <div class="invalid-feedback">
              Seleccione una ciudad válida.
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="zip">Código Postal</label>
            <input type="text" class="form-control" id="zip" name="zip" placeholder="Código Postal" value="<%= user.zip %>">
            <div class="invalid-feedback">
              Se requiere un código postal válido.
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Guardar cambios</button>
      </form>
    </div>
  </div>
  
<script src="/js/checkout-form-validation.js"></script>

<%- include ("./partials/_footer") %>
